<!doctype html>
<html lang="en">
    <%= render 'head' %>
    <body>
        <div id="layout">
            <!-- Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
            </a>
            <%= render 'menu' %>
            <div id="main">
                <div class="header">
                    <h1>Touching Linked Data</h1>
                    <h2>Installation and use of OntoWiki and Virtuoso to work interactively with Linked Data content</h2>
                </div>
                <div class="content">
                    <%= yield %>
                </div>
            </div>
        </div>
        <script src="js/jquery.js"></script>
        <script src="js/ui.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#menu_item_home").addClass("menu-item-divided pure-menu-selected");
            });
        </script>
    </body>
</html>