<!doctype html>
<html lang="en">
    <%= render 'head' %>
    <body>
        <div id="layout">
            <!-- Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
            </a>
            <div id="menu">
                <div class="pure-menu pure-menu-open">
                    <a class="pure-menu-heading" href="#">AMSL</a>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li class="menu-item-divided pure-menu-selected"><a href="#">Start</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div id="main">
                <div class="header">
                    <h1>Touching Linked Data</h1>
                    <h2>Installation and use of OntoWiki and Virtuoso to work interactively with Linked Data content</h2>
                </div>
                <div class="content">
                    <%= yield %>
                </div>
            </div>
        </div>
        <script src="js/ui.js"></script>
    </body>
</html>