<div id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="#">AMSL</a>
        <ul>
            <li id="menu_item_home"><a href="index.html">Home</a></li>
            <li id="menu_item_start"><a href="start.html">Start</a></li>
            <li id="menu_item_install"><a href="install.html">Installation</a></li>
            <li id="menu_item_working"><a href="working.html">SPARQL Queries</a></li>
            <li id="menu_item_isql"><a href="isql.html">ISQL</a></li>
            <li id="menu_item_links"><a href="links.html">Links</a></li>
        </ul>
    </div>
</div>